asgiref==3.8.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
comtypes==1.4.8
dj-database-url==2.2.0
Django==4.2.16
gunicorn==23.0.0
idna==3.10
numpy
packaging==24.1
pillow
psycopg2-binary==2.9.10
pycparser==2.22
pydub==0.25.1
pyttsx3==2.98
requests==2.32.3
sounddevice==0.5.1
SpeechRecognition==3.11.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
Wave==0.0.2
whitenoise==6.7.0
