asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
comtypes==1.4.8
dj-database-url==2.2.0
Django==4.2.16
gunicorn==23.0.0
idna==3.10
packaging==24.1
pillow==11.0.0
psycopg2-binary==2.9.10
PyAudio==0.2.14
pydub==0.25.1
pypiwin32==223
pyttsx3==2.98
pywin32==308
requests==2.32.3
SpeechRecognition==3.11.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
Wave==0.0.2
whitenoise==6.7.0
